@model Pasucall.Models.tbl_Libro

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/StyleSheet.css" rel="stylesheet" />
<h2>Eliminar Libro</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Nombre Autor</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_autor)
        </dd>

        <dt>
            <label>Nombre Libro</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_libro)
        </dd>

        <dt>
            <label>Fecha Nacimiento</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_nacimiento)
        </dd>

        <dt>
            <label>Fecha Publicacion</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_publicacion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-danger" /> |
    <a class="btn btn-outline-success" href=@Html.ActionLink("Volver", "Index")></a>
</div>

        
    }
</div>
