@model IEnumerable<Pasucall.Models.tbl_Libro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Libros</h2>


<button type="button" class="btn btn-success">
    @Html.ActionLink("Agregar Libro", "Create", null, new { @class = "my-class" })
</button>
<p></p>
<table class="table table-dark">
    <tr>
        <th>
            <label>Codigo</label>
        </th>
        <th>
            <label>Nombre Autor</label>
        </th>
        <th>
            <label>Nombre Libro</label>
        </th>
        <th>
            <label>Fecha Nacimiento</label>
        </th>
        <th>
            <label>Fecha Publicacion</label>
        </th>
        <th><label>Acciones</label></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.codigo)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nombre_autor)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.nombre_libro)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fecha_nacimiento)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.fecha_publicacion)
    </td>
    <td>
        <a class="btn btn btn-outline-info" onclick=@Html.ActionLink("Editar", "Edit", new { id = item.codigo })> </a>
        <a class="btn btn-outline-warning" onclick=@Html.ActionLink("Detalles", "Details", new { id = item.codigo })> </a>
        <a class="btn btn-outline-light" onclick=@Html.ActionLink("Eliminar", "Delete", new { id = item.codigo })> </a>

        
    </td>
</tr>
}

</table>
